<h2><%=@user.name%> | <%= @user.username %></h2>

<% if current_user == @user %>
  <p>YOU ARE SO LOGGED IN OMG</p>
<% end %>

<%if @user.teacher == true%>
<h3>Courses <%= @user.name %> is Teaching:</h3>
<ul>
  <%@user.user_skills.sort_by { |uskill| uskill.skill.category.name}.each do |us|%>
    <li><strong><%=us.skill.name_and_category%></strong><br>
      <% if us.description %>
    <em><%= us.description %></em><br>
    <% end %>
    <% if @user == current_user %>
    <%= link_to "Edit This Skill", edit_user_skill_path(us) %> |


    <%= form_tag user_skill_path(us), method: :delete do %>
      <%= submit_tag "Delete This Skill" %>
    <% end %>

  </li>
    <% end %>
  <%end %>
</ul>
  <%if @user == current_user %>
    <%=link_to "Edit Your Teacher Profile", teacher_edit_path(@user), class: "btn btn-success"%><br></br>
  <% end %>
<%end%>
<br>

<%if @user.student == true %>
<h3>Courses <%= @user.name %> is Taking:</h3>

  <%if @user.courses.length == 0 %>

    <%if @user == current_user %>
      You are not currently enrolled in any courses.<br>
    <% else %>
      <%= @user.name %> is not currently enrolled in any courses.<br>
    <% end %>

  <% else %>

    <%if @user == current_user %>
      <ul>
        <% @courses.each do |course| %>
        <li>You are currently enrolled in <%= link_to course.user_skill.skill.name, course.user_skill %> with <%= link_to course.teacher.name, course.teacher%></li>
        <% end %>
      </ul>

      <% else %>
      <ul>
        <% @courses.each do |course| %>
        <li><%= @user.name %> is currently enrolled in <%= link_to course.user_skill.skill.name, course.user_skill %> with <%= link_to course.teacher.name, course.teacher%></li>
        <% end %>
      </ul>
      <% end %>
    <% end %>

    <%if @user == current_user %>
      Check out the <%= link_to "course catalog", user_skills_path %> for available courses to take.<br><br>
      <%=link_to "Edit Your Student Profile", edit_user_path(@user), class: "btn btn-success"%>

    <% end %>

<%end%>
