<h1><%= @skill.name %></h1>
<h2><em><%= @skill.category.name %></em></h2><br>

<h4>Available Courses for This Skill:</h4>
<ul>
<% @skill.user_skills.each do |us| %>
  <li><strong><%= us.user.name %></strong> | <em><%= us.description %></em>
    <% if logged_in? %>
      <% if current_user.student == true %>
          <%= form_tag courses_path, method: :post do %>
            <%= hidden_field_tag :'course[user_id]', current_user.id %>
            <%= hidden_field_tag :'course[user_skill_id]', us.id %>
          <%= submit_tag "Take this Course", class: "btn btn-success"%>
        <% end %>
      <% end %>
    <% else %>
      || <%=link_to "Learn More About This Course", user_skill_path(us), class: "btn btn-primary" %>
    <% end %>
  </li><br>
<% end %>

</ul>
