<h1><%= @skill.name %></h1>
<h2><em><%= @skill.category.name %></em></h2><br>

<h4>Available Courses for This Skill:</h4>
<ul>
<% @skill.user_skills.each do |us| %>
  <li><strong><%= us.user.name %></strong> | <em><%= us.description %></em>
    <% if logged_in? %>
      <% if current_user.student == true %>
      || <% flash[:user_skill] = us.id %> <%=link_to "Take this Course", new_course_path %>
      <% end %>
    <% else %>
      || <%=link_to "Learn More About This Course", user_skill_path(us) %>
    <% end %>
  </li>
<% end %>

</ul>
