<h1> <%= @category.name %> </h1>

<% if 1==0 %>

  <ul>
  <% @category.skills.each do |skill| %>
  <li><%= link_to skill.name, skill %></li>
  <% end %>
  </ul>

<% end %>


<% @category.skills.each do |skill| %>
<div style="padding: 15px;">
<div class="card">
  <div class="card-header">
    <h4><%= skill.name %></h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <% if skill.user_skills.length == 0 %>
        No Courses Currently Available
      <% elsif skill.user_skills.length == 1 %>
        <%= skill.user_skills.length %> Course Available
      <% else %>
        <%= skill.user_skills.length %> Courses Available
      <% end %>
    </h5>
    <a href=" <%= skill_path(skill) %> " class="btn btn-primary">View Available Courses</a>
  </div>
</div>
</div>
<% end %>
